.navbar {
  display: flex;
  gap: 30px;
}

.navbar-mobile {
  display: none;
}

.navbar__item {
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .nav {
    flex-grow: 1;
  }
}

@media (max-width: 480px) {
  .navbar__item {
    font-size: 14px;
  }
}
